<mat-paginator #page [length]="tasks.length"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]"
               aria-label="Select page">
</mat-paginator>
<app-remove-task (taskDeleted)="onTaskDeleted()"></app-remove-task>
<section>
  <mat-grid-list cols="4" [rowHeight]="rowHeight">
    <mat-grid-tile-header>
      <mat-grid-tile>
        <mat-checkbox [(ngModel)]="isSelectedAll" (change)="onSelectAll()"></mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>
        <u><b>Title</b></u>
      </mat-grid-tile>
      <mat-grid-tile>
        <u><b>Description</b></u>
      </mat-grid-tile>
      <mat-grid-tile>
        <u><b>Date</b></u>
      </mat-grid-tile>
    </mat-grid-tile-header>
  </mat-grid-list>
</section>
<mat-divider>
</mat-divider>
<section *ngFor="let task of tasks | pageFilter:page.pageIndex:page.pageSize:filterToggle">
  <mat-grid-list cols="4" [rowHeight]="rowHeight">
    <mat-grid-tile>
      <mat-checkbox [checked]="isTaskSelected(task)" (change)="onSelectTask(task, $event)"></mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile>
      {{task.title | formatTextDisplay}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{task.description | formatTextDisplay}}
    </mat-grid-tile>
    <mat-grid-tile>
      {{task.date | formatDateDisplay}}
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider>
  </mat-divider>
</section>
<app-add-task></app-add-task>
<app-task-detail *ngIf="displayTask" [task]="displayTask" (taskSaved)="onTaskSaved($event)"
                 [action]="callToAction" [header]="callToActionHeader"></app-task-detail>


