#content {
  position: fixed;
  top: 4em;
  width: 160px;
  height: calc(100vh - 4em);
  background: #212529;
  color: white;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
