<div class="toolbar">
  <mat-nav-list class="header">
    <mat-list-item (click)="sidebarServ.toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </mat-list-item>
    <a href="/">
      <mat-list-item>ToDoListNg</mat-list-item>
    </a>
    <div class="right-side header">
      <a href="https://ecortes.me/" title="Personal Website">
        <mat-list-item>
          <img src="../../../assets/icons/person.svg" alt="GitHub">
        </mat-list-item>
      </a>
      <a href="https://github.com/emapco" title="GitHub">
        <mat-list-item>
          <img src="../../../assets/icons/github.svg" alt="GitHub">
        </mat-list-item>
      </a>
      <a href="https://www.linkedin.com/in/mannycortes/" title="LinkedIn">
        <mat-list-item>
          <img src="../../../assets/icons/linkedin.svg" alt="LinkedIn">
        </mat-list-item>
      </a>
    </div>
  </mat-nav-list>
</div>
