<mat-card>
  <mat-card-title>{{header}}</mat-card-title>
  <br>
  <section>
    <h4>Title:
      <mat-icon (click)="toggleEditTitle()">border_color</mat-icon>
    </h4>
    <mat-card-content class="text" *ngIf="!enableEditTitle"
                      (click)="toggleEditTitle()">
      {{editTask.title}}
    </mat-card-content>
    <mat-form-field appearance="fill" *ngIf="enableEditTitle">
      <textarea matInput [(ngModel)]="editTask.title"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"></textarea>
    </mat-form-field>
  </section>
  <section>
    <h4>Description:
      <mat-icon (click)="toggleEditDescription()">border_color</mat-icon>
    </h4>
    <mat-card-content class="text" *ngIf="!enableEditDescription"
                      (click)="toggleEditDescription()">
      {{editTask.description}}
    </mat-card-content>
    <mat-form-field appearance="fill" *ngIf="enableEditDescription">
      <textarea matInput [(ngModel)]="editTask.description"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"></textarea>
    </mat-form-field>
  </section>
  <section>
    <h4>Date:
      <mat-icon (click)="toggleEditDate()">border_color</mat-icon>
    </h4>
    <p *ngIf="!enableEditDate"
       (click)="toggleEditDate()">{{editTask.date | formatDateDisplay}}</p>
    <div *ngIf="enableEditDate">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" (dateChange)="updateDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [startAt]="editTask.date"></mat-datepicker>
      </mat-form-field>
      <div class="timepicker">
        <ngx-timepicker-field [controlOnly]=true #timepicker
                              [defaultTime]="formatTimeDisplay.transform(editTask.date)"
                              (timeChanged)="updateTime(timepicker.timepickerTime)">
        </ngx-timepicker-field>
      </div>
    </div>
  </section>
  <br>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onSave()">{{action}}</button>
  </mat-card-actions>
</mat-card>

