@use '../../node_modules/@angular/material/index' as mat;

@mixin background($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  app-header, footer, mat-drawer {
    background-color: mat.get-color-from-palette($accent) !important;
  }

  input {
    background-color: transparent;
  }

  .ngx-timepicker-control__arrow {
    color: white;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include background($theme);
  }
}
